.accordion {
    margin: 50px 150px;
}

.tituloLaranja {
    background-color: #FF7A00;
}

.tituloAzul {
    background-color: #0029FF;
}

.tituloVerde {
    background-color: #00BD57;
}

.tituloAzul, .tituloLaranja, .tituloVerde {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    color: white;
}

.tituloAzul h2, .tituloLaranja h2, .tituloVerde h2 {
    margin: 0 auto;
}

.conteudo {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    border-radius: 0 0 15px 15px;
    will-change: max-height;
}

.conteudoShow {
    background-color: #B2BFFF;
    padding: 30px;
    height: auto;
    transition: max-height 0.5s ease-in-out;
    will-change: max-height;
    border-radius: 0 0 10px 10px;
}

.conteudoChamado {
    border-radius: 10px;
    text-align: center;
}

.cobreTela {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    justify-content: center;
    width: 100%;
}