/* CadastroADM.module.css */

/* Estilo para o grupo de botões */

.botoes {
    width: 60%;
    margin-top: 20px; /* espaço maior entre a div dos botões e as divs acima */
    display: flex;
    justify-content: space-around; /* espaço entre os botões */
}

/* Estilo para o botão Cadastrar */
.alterar2 {
    width: 40%; /* tamanho maior */
    padding: 15px; /* tamanho maior */
    font-size: 18px; /* tamanho maior */
    background-color: #FF7A00;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.descartar2 {
    width: 40%; /* tamanho maior */
    padding: 15px; /* tamanho maior */
    font-size: 18px; /* tamanho maior */
    background-color: red;
    color: white; /* cor do texto branco */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.descartar2 a {
    text-decoration: none; /* remove o sublinhado */
    color: white; /* cor do texto branco */
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px  0;
    margin: 15%;
}

.containerCadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 900px;
    background-color: white;
    border-radius: 10px;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.estilo2{
    border: 2px solid gray;
    border-radius: 10px;
    width: 600px;
    margin: 4px 0 12px;
    padding: 10px 0 20px;
    padding-left: 14px;
    padding-top: 15px;
}

.estilo1{
        border: 2px solid gray;
        border-radius: 10px;
        margin: 4px 0 12px;
        padding: 10px 0 20px;
        padding-left: 10px;
        padding-top: 15px;
}

.containerCadastro h1 {
    margin-bottom: 60px;
    color: gray;
}

.form input::placeholder {
    color: #29292b;
}

.centeredDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.inputGroup input[readonly] {
    color: gray;
}

.containerCadastro h1 {
    color: #000469;
    font-weight: bold;
    margin-bottom: 4%;
    text-align: center;
}

.textAreaExpansivel {
    max-height: 2%;
    overflow-y: auto;
    resize: none;
}