.equipamento {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 22px;
    width: 100%;
    height: auto;
    padding: 3vh;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 25%;
}

.section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
    height: 100%;
}

.statusText {
    font-size: 16px;
    color: #000;
    text-align: center;
}

.text {
    margin-bottom: 10px;
    font-size: 16px;
    color: #000;
    max-width: 25vw;
    word-wrap: break-word;
}

.text strong {
    margin-right: 5px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2vw;
}

.editButton, .deleteButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid;
    padding: 1.5vh 1.5vw;
    cursor: pointer;
    border-radius: 17px;
    width: 42%;
    font-size: 1.2em;
}

.editButton {
    color: orange;
    border-color: orange;
}

.deleteButton {
    color: red;
    border-color: red;
}


@media (max-width: 1000px) {
    .infoContainer {
        flex-direction: column;
    }
}