.equipamento {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 22px;
    width: 100%;
    height: auto;
    padding: 3vh;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 25%;
}

.section4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: 25%;
    height: 100%;
}

.statusText {
    font-size: 16px;
    color: #000;
    text-align: center;
}

.text {
    margin-bottom: 10px;
    font-size: 16px;
    color: #000;
}

.text strong {
    margin-right: 5px;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.editButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: orange;
    border: 2px solid orange;
    padding: 1.5vh 1.5vw;
    cursor: pointer;
    border-radius: 17px;
    width: 42%;
    font-size: 1.2em;
}

.deleteButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: red;
    border: 2px solid red;
    padding: 1.5vh 1.5vw;
    cursor: pointer;
    border-radius: 17px;
    width: 42%;
    font-size: 1.2em;
}

@media (max-width: 1000px) {
    .infoContainer {
        flex-direction: column;
    }
}