.accordion {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 90%;
    margin: 0 auto;
}

.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #5772FF;
    width: 100%;
}

.titulo h3 {
    color: #000469;
}

.conteudo {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    border-radius: 0 0 15px 15px;
    will-change: max-height;
}

.conteudoShow {
    background: #DDDEFF;
    height: auto;
    transition: max-height 0.5s ease-in-out;
    will-change: max-height;
    padding: 30px 20px;
    border-radius: 0 0 10px 10px;
}

.filtro {
    display: flex;
}

.containerFAQ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px auto;
    min-height: 60%;
    width: 100%;
}

.containerFAQ h1 {
    color: #000469;
}

.containerFAQ p {
    margin: 40px 0;
    text-align: center;
    margin-bottom: 80px;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
