.footer {
    display: flex;
    background-color: #000469;
    padding: 1.5em 5em;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer img {
    width: 14%;
    height: 14%;
}

.contatosFooter {
    color: white;
}

.contatosFooter h1 {
    font-weight: bold;
    text-align: center;
}

.contatosFooter p {
    margin: 0;
}