.footer {
    display: flex;
    background-color: #000469;
    padding: 50px;
    justify-content: space-between;
    width: 100%;
}

.footer img {
    width: 10%;
}

.contatosFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}