/* styles/LogoutModal.module.css */

.logoutModalContainer {
    position: fixed;
    top: 19%;
    left: 94%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 11%;
    z-index: 1000;
    padding: 1%;
}

.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.informacoesPessoaisContainer {
    display: flex;
    margin: 1.5vh 0;
}

.informacoesPessoaisContainer img {
    width: 30%;
}

.informacoesPessoais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    overflow: hidden;
    gap: 0.5vh;
}


.nome, .email {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    box-sizing: content-box;
    font-size: 15px;
}

.logoutModalContainer hr {
    border: 1px solid rgb(90, 90, 90);
    margin-bottom: 1vh;
}

.conta {
    font-weight: bold;
    font-size: 120%;
}

.logout {
    cursor: pointer;
}