.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.item a {
    color: white;
    font-weight: bold;
}

nav {
    background-color: #000469;
    padding: 20px 0 20px 70px;
    display: flex;
    justify-content: space-between;
}

img {
    width: 70%;
}

.usuarioPerfil {
    width: 40%;
    cursor: pointer;
}