.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.item a {
    color: white;
    font-weight: bold;
}

nav {
    background-color: #000469;
    padding: 20px 70px 20px 70px;
    display: flex;
    justify-content: space-between;
}

img {
    width: 70%;
}

.usuarioPerfil {
    width: 3.5vw;
    height: auto;
    cursor: pointer;
    padding: 0;
}

.usuarioPerfil img {
    width: 100%;
    height: auto;
}

.login {
    border: 2px solid white;
    border-radius: 5px;
    background: none;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}