.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin: 0;
}

.item a {
    color: white;
    font-weight: bold;
}

nav {
    background-color: #000469;
    padding: 1em 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 80%;
}

.usuarioPerfil {
    width: 3.5vw;
    height: auto;
    cursor: pointer;
    padding: 0;
}

.usuarioPerfil img {
    width: 100%;
    height: auto;
}

.login {
    border: 2px solid white;
    border-radius: 0.6em;
    background: none;
    color: white;
    padding: 0.8em 1.5em;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
}