.ticket {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 22px;
    padding: 10px;
    width: 100%;
    height: 20vh;
    margin-bottom: 2vh;
}

.sectionOne {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13%;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
    height: 100%;
    border: 1px solid black;
    padding: 8.8vh;
    border-radius: 20px;
}

.sectionTwo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 100%;
    padding: 2px;
    gap: 10px;
}

.sectionTwoC {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 86%;
    height: 100%;
    padding: 2px;
    gap: 10px;
}

.rectangle {
    border: 1px solid black;
    flex-grow: 1;
    padding: 10px;
    border-radius: 10px;
    text-align: start;
}

.sectionThree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    padding: 2px;
    gap: 2vh
}

.acceptButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: green;
    border: 1px solid green;
    padding: 10px;
    cursor: pointer;
    border-radius: 17px;
    width: 92%;
    height: 45%;
    font-size: 1.5em;
}

.deleteButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: red;
    border: 1px solid red;
    padding: 10px;
    cursor: pointer;
    border-radius: 17px;
    width: 92%;
    height: 45%;
    font-size: 1.5em;
}

.answerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: green;
    border: 1px solid green;
    padding: 10px;
    cursor: pointer;
    border-radius: 17px;
    width: 92%;
    height: 45%;
    font-size: 1.5em;
}

.image {
    width: 100%;
    height: 100%;
}

.text {
    text-align: center;
    color: black;
    font-size: 2vh;
}