.ticket {
    display: flex;
    background-color: white;
    border-radius: 22px;
    padding: 10px;
    width: 100%;
    height: auto; /* Alterado para altura automática */
    margin-bottom: 2vh;
    flex-wrap: wrap; /* Para permitir que os elementos se ajustem em várias linhas */
}

.sectionOne {
    width: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 8.8vh 0; /* Ajustado o padding para manter a proporção */
    box-sizing: border-box; /* Para incluir o padding na largura total */
}

.sectionTwoC {
    width: calc(100% - 13%); /* Ajuste a largura para ser proporcional à imagem */
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch; /* Para esticar os itens verticalmente */
}

.rectangle {
    flex: 1; /* Para ocupar todo o espaço disponível verticalmente */
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    text-align: start;
}

.sectionThree {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.acceptButton,
.deleteButton,
.answerButton {
    width: 100%;
    font-size: 1.5vh; /* Ajustado o tamanho da fonte */
}

.image {
    width: auto; /* Ajustado para manter a proporção */
    height: auto; /* Ajustado para manter a proporção */
    max-height: 100%; /* Limitar a altura máxima */
    max-width: 100%; /* Limitar a largura máxima */
}

.text {
    text-align: center;
    color: black;
    font-size: 1.5vh; /* Ajustado o tamanho da fonte */
}
