* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none !important;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

button {
  font-weight: bold;
  cursor: pointer;
  border: none;
}

html, body, #root {
  height: 100%;
}

input:focus {
  outline: none;
}